:local {
  .sidebar {
    border: 3px dashed #787575; // Temporary border to demo layout. TODO: Remove.
    border-top: 0; // Temporary border to demo layout. TODO: Remove.
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    max-width: 75%;
    min-width: 100px;
    position: relative;
  }

  .components {
    border-bottom: 3px dashed #787575; // Temporary border to demo layout. TODO: Remove.
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 36px;
  }

  .resizer {
    cursor: ew-resize;
    height: 100%;
    margin-right: -7px;
    position: absolute;
    right: 0;
    width: 10px;
  }

  .inactive {
    pointer-events: none;
    user-select: none;
  }
}
