:local {
  .sandbox {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .header {
    border: 3px dashed #787575; // Temporary border to demo layout. TODO: Remove.
  }

  .layout {
    display: flex;
    height: 100%;
  }
}
