:local {
  .workspace {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .canvas {
    border-bottom: 3px dashed #787575;
    height: 100%;
    padding: 1.4285714285714286rem;
    width: 100%;
  }

  .header {
    border: 3px dashed #787575; // Temporary border to demo layout. TODO: Remove.
  }

  .layout {
    display: flex;
    height: 100%;
  }
}
