:local {
  .workspace {
    height: 100%;
  }

  .canvas {
    border-bottom: 3px dashed #787575;
    flex: 1 1 auto;
    height: 100%;
    padding: 1.4285714285714286rem;
  }

  .header {
    border: 3px dashed #787575;
    height: 30px;
  }

  .layout {
    display: flex;
    height: calc(100% - 30px);
  }
}
