:local {
  .layers {
    flex-shrink: 0;
    min-height: 36px;
    overflow: hidden;
  }

  .resizer {
    cursor: ns-resize;
    height: 10px;
    margin-top: -7px;
    position: absolute;
    width: 100%;
  }

  .inactive {
    pointer-events: none;
    user-select: none;
  }
}
