:local {
  .sidebar {
    border-bottom: 3px dashed #787575;
    border-left: 3px dashed #787575;
    display: flex;
    flex-shrink: 0;
    height: 100%;
    max-width: 75%;
    min-width: 100px;
    overflow: hidden;
    user-select: none;
    width: 230px;
  }

  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .top-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 0;
    overflow: hidden;
  }

  .header {
    flex: 0 0 auto;
  }

  .bottom-section {
    flex-shrink: 0;
    height: 40%;
    min-height: 36px;
    overflow: hidden;
  }

  .horizontal-resizer {
    background-color: #787575;
    cursor: ew-resize;
    height: 100%;
    width: 3px;
  }

  .vertical-resizer {
    background-color: #787575;
    cursor: ns-resize;
    height: 3px;
    width: 100%;
  }

  .inactive {
    pointer-events: none;
    user-select: none;
  }
}
